* {
  /* background: #111827; */
  color: #e5e1ea;
  max-width: 1300px;
  margin: auto;
}

.container {
  max-width: 1152px;
  margin: auto;
}

.logo {
  font-size: 35px;
  font-weight: 600;
  font-style: bold;
}

.baseButton {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  border-radius: 9999px;
  transition-duration: 150ms;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(72, 70, 70, 0.646);
  &:hover {
    background-color: rgb(99, 99, 99, 0.646);
  }
}

.getStarted {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  border-radius: 9999px;
  transition-duration: 150ms;
  display: flex;
  align-items: center;
  color: white;
  background-color: #6f42c1;
  &:hover {
    background-color: rgb(180, 79, 235);
  }
}

main {
  background: #111827;
  color: #e5e1ea;
  /* border-radius: 12px; */
}

nav {
  display: flex;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    a {
      padding: 8px 16px;

      &:hover {
        color: white;
      }
    }
  }
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myHeadline {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-style: bold;
}

div {
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 60px;
}

h3 {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 30px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.gridItem {
  background-color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4/3;
  border: 5px solid white;
  border-radius: 10px;
}

.gridImage {
  align-self: start;
  max-width: 10%;
  height: auto;
}
